# Environnement virtuel
venv/
env/
.env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
.env
media/
staticfiles/
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
